.container {
  padding-top: 5%;
  text-align: center;
}

body {
  background: url("https://wallpaper-gallery.net/images/background-images-for-websites/background-images-for-websites-5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 800px;
}

h1 {
  text-align: center;
  padding-top: 2%;
  font-family: "Indie Flower", cursive;
  font-size: 50px;
  text-transform: uppercase;
  color: beige;
}
