h1 {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: "Lobster", cursive;
  text-transform: uppercase;
  color: white;
}

h6 {
  color: black;
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: "Shadows Into Light", cursive;
}

body {
  background-size:cover;
  background-repeat: no-repeat;
  min-height:500px;
}
.container {
  text-align: center;
  padding-top: 15%;
}
