body{
  background: url(https://images.unsplash.com/photo-1487466365202-1afdb86c764e?ixlib=rb-0.3.5&s=abc1f33a691a433bf59c61e56eaec5f1&auto=format&fit=crop&w=500&q=60https://images.unsplash.com/photo-1486286701208-1d58e9338013?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4bfa13437e17634e0e4a9213cb7acbfa&auto=format&fit=crop&w=500&q=60://images.unsplash.com/photo-1490696809909-71f5f1fd23e5?ixlib=rb-0.3.5&s=12d8b82fdc27852945aca49fb534e06c&auto=format&fit=crop&w=500&q=60);
  background-position: centre;
  background-size:cover;
}
h1{
  font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: Montserrat,'Helvetica Neue',Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    color:bisque;  
}

h6{
  color: 
  font-size: 22px;
    font-style: italic;
    line-height: 22px;
    margin-bottom: 25px;
    font-family: 'Droid Serif','Helvetica Neue',Helvetica,Arial,sans-serif;
}
#content{
  text-align: center;
  padding-top: 25%;
}
